@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure Upward</h1>
    <p>Seja bem vindo ao Azure Upward 2020</a>.</p>
    <div>
        <img src="../img/upward.png" >
    </div>
</div>
